<h4>{{ 'Add Availability' | translation }}</h4>
<table width="100%">
    <tr>
        <td class="labelTd">
            <label>Date</label>
        </td>
        <td class="inputTd">
            <div class="message-error" *ngIf="!validateFields.date.isValid">{{validateFields.date.messageText}}</div>
            <input type="text"
                   [(ngModel)]="info.date" readonly="true"
                   [ngClass]="{'error': !validateFields.date.isValid, valid: validateFields.date.isValid}"
                   id="datepicker" #datepicker>
        </td>
    </tr>
    <tr>
        <td class="labelTd">
            <label>Start Time</label>
        </td>
        <td class="inputTd">
            <div class="message-error" *ngIf="!validateFields.stime.isValid">{{validateFields.stime.messageText}}</div>
            <input type="text"
                   [(ngModel)]="info.stime"
                   [ngClass]="{'error': !validateFields.stime.isValid, valid: validateFields.stime.isValid}"
                   id="stime" #stime>
        </td>
    </tr>
    <tr>
        <td class="labelTd">
            <label>End Time</label>
        </td>
        <td class="inputTd">
            <div class="message-error" *ngIf="!validateFields.etime.isValid">{{validateFields.etime.messageText}}</div>
            <input type="text"
                   [(ngModel)]="info.etime"
                   [ngClass]="{'error': !validateFields.etime.isValid, valid: validateFields.etime.isValid}"
                   id="etime" #etime>
        </td>
    </tr>
    <tr>
        <td class="labelTd">
            <label>Session Type</label>
        </td>
        <td class="inputTd">
            <div class="message-error" *ngIf="!validateFields.type_id.isValid">{{validateFields.type_id.messageText}}</div>
            <select [(ngModel)]="info.type_id"
                    [ngClass]="{'error': !validateFields.type_id.isValid, valid: validateFields.type_id.isValid}">
                <option value="" disabled>Please choose one</option>
                <option *ngFor="let sessionType of sessionTypes.values" value="{{sessionType.key}}">{{sessionType.label}}</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="labelTd">
            <label>Session Name</label>
        </td>
        <td class="inputTd">
            <div class="message-error" *ngIf="!validateFields.session_name.isValid">{{validateFields.session_name.messageText}}</div>
            <input type="text"
                   [(ngModel)]="info.session_name"
                   [ngClass]="{'error': !validateFields.session_name.isValid, valid: validateFields.session_name.isValid}">
        </td>
    </tr>
    <tr>
        <td class="labelTd">
            <label>Min Participants Number</label>
        </td>
        <td class="inputTd">
            <div class="message-error" *ngIf="!validateFields.min_participants_number.isValid">{{validateFields.min_participants_number.messageText}}</div>
            <input type="text"
                   [(ngModel)]="info.min_participants_number"
                   [ngClass]="{'error': !validateFields.min_participants_number.isValid, valid: validateFields.min_participants_number.isValid}">
        </td>
    </tr>
    <tr>
        <td class="labelTd">
            <label>Max Participants Number</label>
        </td>
        <td class="inputTd">
            <div class="message-error" *ngIf="!validateFields.participants_number.isValid">{{validateFields.participants_number.messageText}}</div>
            <input type="text"
                   [(ngModel)]="info.participants_number"
                   [ngClass]="{'error': !validateFields.participants_number.isValid, valid: validateFields.participants_number.isValid}">
        </td>
    </tr>
    <tr>
        <td class="labelTd">
            <label>Language</label>
        </td>
        <td class="inputTd">
            <div class="message-error" *ngIf="!validateFields.language.isValid">{{validateFields.language.messageText}}</div>
            <select [(ngModel)]="info.language"
                    [ngClass]="{'error': !validateFields.language.isValid, valid: validateFields.language.isValid}">
                <option value="" disabled>Please choose one</option>
                <option *ngFor="let language of language.values" value="{{language.key}}">{{language.label}}</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="labelTd">
            <label>Canton</label>
        </td>
        <td class="inputTd">
            <div class="message-error" *ngIf="!validateFields.state.isValid">{{validateFields.state.messageText}}</div>
            <input type="text"
                   [(ngModel)]="info.state"
                   [ngClass]="{'error': !validateFields.state.isValid, valid: validateFields.state.isValid}">
        </td>
    </tr>
    <tr>
        <td class="labelTd">
            <label>Room (location)</label>
        </td>
        <td class="inputTd">
            <div class="message-error" *ngIf="!validateFields.location.isValid">{{validateFields.location.messageText}}</div>
            <input type="text"
                   [(ngModel)]="info.location"
                   [ngClass]="{'error': !validateFields.location.isValid, valid: validateFields.location.isValid}">
        </td>
    </tr>
    <tr>
        <td>
            <labe>Description</labe>
        </td>
        <td>
            <div class="message-error"></div>
            <input type="text"
                   [(ngModel)]="info.description">
        </td>
    </tr>
    <tr>
        <td>
            <labe>Upload</labe>
        </td>
        <td>
            <div class="message-error" *ngIf="fileError">{{fileError}}</div>
            <span *ngIf="!info.file"><a id="addRecipe">{{ 'Upload your recipe' | translation }}</a></span>
            <span *ngIf="fileProgress">{{ fileProgress }}%</span>
            <span *ngIf="info.file">
                <a (click)="onRemoveFileClick()">{{ 'Remove your recipe' | translation }}</a>
                <span style="width:250px;display: inline-block;white-space: nowrap;overflow:hidden;text-overflow: ellipsis;">{{ info.file }}</span>
            </span>
        </td>
    </tr>

    <tr>
        <td colspan="2" align="right">
            <button type="submit" (click)="addAvailability()">add availability</button>
        </td>
    </tr>
</table>
<style>
    .labelTd {
        width: 30%;
        vertical-align: top;
    }
    .inputTd {
        width: 70%;
        vertical-align: top;
    }
    .inputTd input, .inputTd select {
        width: 100%;
    }
    .error {
        border: 1px solid red;
    }
    .message-error {
        color: red;
    }
</style>
