<h4>{{ 'Add Availability' | translation }}</h4>
<table width="100%">
    <tr>
        <td class="labelTd">
            <label>Date</label>
        </td>
        <td class="inputTd">
            <input type="text" [(ngModel)]="info.date">
        </td>
    </tr>
    <tr>
        <td class="labelTd">
            <label>Start Time</label>
        </td>
        <td class="inputTd">
            <input type="text" [(ngModel)]="info.stime">
        </td>
    </tr>
    <tr>
        <td class="labelTd">
            <label>End Time</label>
        </td>
        <td class="inputTd">
            <input type="text" [(ngModel)]="info.etime">
        </td>
    </tr>
    <tr>
        <td class="labelTd">
            <label>Session Type</label>
        </td>
        <td class="inputTd">
            <select [(ngModel)]="info.type_id">
                <option *ngFor="let sessionType of sessionTypes.values" value="{{sessionType.key}}">{{sessionType.label}}</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="labelTd">
            <label>Session Name</label>
        </td>
        <td class="inputTd">
            <input type="text" [(ngModel)]="info.session_name">
        </td>
    </tr>
    <tr>
        <td class="labelTd">
            <label>Participants Number</label>
        </td>
        <td class="inputTd">
            <input type="number" [(ngModel)]="info.participants_number">
        </td>
    </tr>
    <tr>
        <td class="labelTd">
            <label>Language</label>
        </td>
        <td class="inputTd">
            <select [(ngModel)]="info.language">
                <option *ngFor="let language of language.values" value="{{language.key}}">{{language.label}}</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="labelTd">
            <label>Canton</label>
        </td>
        <td class="inputTd">
            <input type="text" [(ngModel)]="info.state">
        </td>
    </tr>
    <tr>
        <td class="labelTd">
            <label>Room (location)</label>
        </td>
        <td class="inputTd">
            <input type="text" [(ngModel)]="info.location">
        </td>
    </tr>
    <tr>
        <td colspan="2" align="right">
            <button type="submit" (click)="addAvailability()">add availability</button>
        </td>
    </tr>
</table>
<style>
    .labelTd {
        width: 30%;
        vertical-align: top;
    }
    .inputTd {
        width: 70%;
        vertical-align: top;
    }
    .inputTd input, .inputTd select {
        width: 100%;
    }
</style>
