<tr (click)="expandCollapseClick()" (click)="isCollapsed = !isCollapsed" [ngClass]="{isCollapsed: isCollapsed}">
    <td>{{availability.date}}</td>
    <td>{{availability.start_time}}</td>
    <td>{{availability.end_time}}</td>
    <td>{{availability.status}}</td>
    <td>{{availability.session_name}}</td>
    <td>
        <div *ngIf="availability.isDeletable" class="isDeletable" (click)="deleteAvailability($event)"></div>
    </td>
</tr>
<tr *ngIf="availability._expanded">
    <td colspan="6">1111</td>
</tr>
<style>
    .isDeletable {
        width: 10px;
        height: 10px;
        background: red;
    }
</style>
