<h4>My Availabilities List</h4>
<table width="100%">
    <thead>
        <tr>
            <th align="left">Date</th>
            <th align="left">Start Time</th>
            <th align="left">End Time</th>
            <th align="left">Status</th>
            <th align="left">Session Name</th>
            <th align="left"></th>
        </tr>
    </thead>
    <my-availabilities-list-item style="display: table-row-group;" *ngFor="let availability of list" [availability]="availability"></my-availabilities-list-item>
</table>
